/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 juin 2014, 19:37:32
    Author     : Phoenix
*/

table{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px;
    width:400px;
    height:400px;
    background-color: #001B26;
    border: 3px solid white;
    box-shadow: 1px 1px 10px #FFFFFF;
    /*border-collapse: collapse;*/
}
td{
    border: 1px solid #193138;
    empty-cells: show;
    width: 1%;
    height: 1%;
}
#commandes{
    position: absolute;
    right: 0;
    padding: 15px;
}
.character{
    background-image: url("../../../Image/skins.png");
    /* background-position: -200px center; change selon joueur*/
    background-repeat: no-repeat;
    /*color: #FFFFFF; change selon joueur*/
    font-family: "Tron",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: bold;
    height: 600px;
    left: 50%;
    margin-left: -500px;
    position: absolute;
    text-align: center;
    text-shadow: 0 0 0.03em #FFFFFF;
    top: 10%;
    width: 200px;
}
.chat{
    background-color: rgba(0, 0, 0, 0.8);
    border: 3px solid #FFFFFF;
    bottom: 10%;
    box-shadow: 1px 1px 10px #FFFFFF;
    position: absolute;
    right: 30px;
    top: 10%;
    width: 25%;
    padding: 20px;
}
.content{
    height: 100%;
    position: relative;
}
.chat .input-group{
    bottom: 0;
    position: absolute;
    width: 100%;
}
.chat .message-box{
    width: 100%;
    top: 0;
    bottom: 50px;
    position: absolute;
    border-bottom: 3px solid #FFFFFF;
    padding: 10px;
    color: #FFFFFF;
    overflow-y: scroll;
}
.chat .shadow{
    top: 0;
    left: -20px;
    right: 17px;
    bottom: 53px;
    position: absolute;
    -moz-box-shadow: inset 0px 0px 10px 10px #000000;
    -webkit-box-shadow: inset 0px 0px 10px 10px #000000;
    -o-box-shadow: inset 0px 0px 10px 10px #000000;
    box-shadow: inset 0px 0px 10px 10px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=10);
}
.chat .message-box span {
    text-decoration:underline;
    /*color: #FFFFFF; change selon joueur*/
}